<div class="single_blog">
  <div class="blog_thumb">
    {%- if article.image -%}
    <a href="{{ article.url }}">{{ article | img_url: '1024x1024' | img_tag: article.title }}</a>{%- endif -%}
    <div class="blog_icon">
      <a href="{{ article.url }}"></a>
    </div>
  </div>
  <div class="blog_content">
    <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
    <div class="author_name">
      <p> 
        <span class="post_by">by</span>
        <span class="themes">{{ article.author }}</span>
        / {{ article.published_at | date: '%d %b %Y' }}
      </p>

    </div>
    <div class="post_desc">
      {% if article.excerpt.size > 0 %}
      {{ article.excerpt }}
      {% else %}
      <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
      {% endif %}
    </div>
  </div>
</div>