<nav>  
  <ul>
    {% for link in linklists.main-menu.links %}
    {% assign childlink_handle = link.title | handle %}
    {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
    <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }} <i class="fa fa-angle-down"></i></a>
      <ul class="sub_menu">
        {% for childlink in linklists[childlink_handle].links %}
        {% assign grand_childlink_handle = childlink.title | handle %}
        {% if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 %}
        <li class="my_megamenu"><a href="{{ childlink.url }}">{{ childlink.title }}</a>
          <ul>
            {% for grand_childlink_handle in linklists[grand_childlink_handle].links %}
            <li><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% elsif childlink.type == "collection_link" and childlink.object.image %}
        <li class="banner_menu">
          <a href="{{ childlink.url }}"><img src="{{ childlink.object.image | img_url: 'master' }}" alt="{{ image.alt }}" /></a>
        </li>
        {% else %}
        <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>  
</nav>


<script>
  $('.my_megamenu').parents('.sub_menu').addClass('mega_menu').removeClass('sub_menu');
</script>
