<nav>  
  <ul>
    {% for link in linklists.main-menu.links %}
    {% assign childlink_handle = link.title | handle %}
    {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
    <li class="shop_menu"><a href="{{ link.url }}">{{ link.title }} <i class="fa fa-angle-down"></i></a>
      <ul class="dropdown_shop_menu">
        {% for childlink in linklists[childlink_handle].links %}
        {% assign grand_childlink_handle = childlink.title | handle %}
        {% if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 %}
        <li class="shop_menu_items"><a class="remove_href" href="#">{{ childlink.title }} <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown_shop_items">
            {% for grand_childlink_handle in linklists[grand_childlink_handle].links %}
            <li><a href="{{ grand_childlink_handle.url }}">{{ grand_childlink_handle.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% elsif childlink.type == "collection_link" and childlink.object.image %}
        <li>
          <a href="{{ childlink.url }}"><img src="{{ childlink.object.image | img_url: 'master' }}" alt="{{ image.alt }}" /></a>
        </li>
        {% elsif childlink.type == "product_link" and childlink.object.featured_image %}
        <li>
          <a href="{{ childlink.url }}"><img src="{{ childlink.object.featured_image | img_url: 'master' }}" alt="{{ image.alt }}" /></a>
        </li>
        {% else %}
        <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>  
</nav>