<div class="featured-image position-relative">
  {% for image in product.images %}
  {%- comment -%} "product_variant_image" this Class is needed for Ajax popup cart {%- endcomment -%}
  <img class="product_variant_image mb-20 {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
       alt="{{ image.alt | escape }}"
       data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
       data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
       src="{{ image.src | img_url: '1024x1024' }}">
  {% endfor %}
  
  {%- include 'product-badge' -%}
</div>