{%- assign sset = section.settings -%}

<div class="collection_area" id="{{ sset.section_id }}">
  <div class="container">
    <div class="row{% if sset.img_pos == 'right' %} flex-row-reverse{% endif %}">
      <div class="col-lg-6 col-md-7">
        <div class="collection_img">
          <a href="{{ sset.btn_url }}">
            {%- if sset.ban_img -%}
            <img src="{{ sset.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
            {%- else -%}
            <img src="https://via.placeholder.com/930x440" alt="{{ image.alt }}">
            {%- endif -%}
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="collection_content">
          {%- if sset.title1 != '' -%}
          <h1 style="color: {{ sset.title1_color }};font-size: {{ sset.title1_font_size }}px;">{{ sset.title1 }}</h1>{%- endif -%}
          
          {%- if sset.title2 != '' -%}
          <h4 style="color: {{ sset.title2_color }};font-size: {{ sset.title2_font_size }}px">{{ sset.title2 }}</h4>{%- endif -%}          
          
          {%- if sset.title3 != '' -%}
          <h2 style="color: {{ sset.title3_color }};font-size: {{ sset.title3_font_size }}px">{{ sset.title3 }}</h2>{%- endif -%}
                    
          {%- if sset.title4 != '' -%}
          <p style="color: {{ sset.title4_color }};font-size: {{ sset.title4_font_size }}px">{{ sset.title4 }}</p>{%- endif -%}

          {%- if sset.btn != '' -%}
          <a href="{{ sset.btn_url }}">{{ sset.btn }}</a>{%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>




{%- style -%}
  #section-{{ section.id }} .collection_content a {
    font-size: {{ sset.btn_font_size }}px;
    color: {{ sset.btn_color }};
    border-bottom: 2px solid {{ sset.btn_border_color }};
  }
  #section-{{ section.id }} .collection_content a:hover {
    color: {{ sset.btn_hover_color }};
    border-bottom: 2px solid {{ sset.btn_hover_border_color }};
  }

{%- include 'section-settings' -%}
{%- endstyle -%}



{% schema %}
  {
    "name": "Product Banner 1",
    "settings": [
        {
            "type": "text",
            "id": "section_id",
            "label": "Section ID",
            "default": "prod-banner"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "image_picker",
            "id": "ban_img",
            "label": "Image"
        },
        {
            "type": "radio",
            "id": "img_pos",
            "label": "Image Position",
            "options": [
                {
                  "label": "Left Side",
                  "value": "left"
                },
                {
                  "label": "Right Side",
                  "value": "right"
                }
            ],
            "default": "left"
        },
        {
            "type": "text",
            "id": "title1",
            "label": "Title 1",
            "default": "01."
        },
        {
            "type": "text",
            "id": "title2",
            "label": "Title 2",
            "default": "Trending Collection"
        },
        {
            "type": "text",
            "id": "title3",
            "label": "Title 3",
            "default": "Handbag Parva Rucksack"
        },
        {
            "type": "textarea",
            "id": "title4",
            "label": "Description",
            "default": "When adventure calls, take the Parva Rucksack with you. Exploring cities wandering the globe."
        },
        {
            "type": "text",
            "id": "btn",
            "label": "Button Text",
            "default": "Discover Now"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL",
            "default": "\/"
        },
        {
            "type": "header",
            "content": "Font Size"
        },
        {
            "type": "paragraph",
            "content": "Don't add 'px' unit. Just put number."
        },
        {
            "type": "number",
            "id": "title1_font_size",
            "label": "Title 1",
            "default": 120
        },
        {
            "type": "number",
            "id": "title2_font_size",
            "label": "Title 2",
            "default": 18
        },
        {
            "type": "number",
            "id": "title3_font_size",
            "label": "Title 3",
            "default": 36
        },
        {
            "type": "number",
            "id": "title4_font_size",
            "label": "Description",
            "default": 16
        },
        {
            "type": "number",
            "id": "btn_font_size",
            "label": "Button",
            "default": 16
        },
        {
            "type": "header",
            "content": "Color"
        },
        {
            "type": "color",
            "id": "title1_color",
            "label": "Title 1 Color",
            "default": "#f1f1f1"
        },
        {
            "type": "color",
            "id": "title2_color",
            "label": "Title 2 Color",
            "default": "#747474"
        },
        {
            "type": "color",
            "id": "title3_color",
            "label": "Title 3 Color",
            "default": "#242424"
        },
        {
            "type": "color",
            "id": "title4_color",
            "label": "Title 4 Color",
            "default": "#747474"
        },
        {
            "type": "color",
            "id": "btn_color",
            "label": "Button Color",
            "default": "#242424"
        },
        {
            "type": "color",
            "id": "btn_border_color",
            "label": "Button Border Color",
            "default": "#242424",
            "info": "Don't want? Make color 'None'"
        },
        {
            "type": "color",
            "id": "btn_hover_color",
            "label": "Button Hover Color",
            "default": "#ff6a28"
        },
        {
            "type": "color",
            "id": "btn_hover_border_color",
            "label": "Button Hover Border Color",
            "default": "#ff6a28"
        }
	],
    "blocks":[	
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets":[
		{
			"name": "Product Banner 1",
			"category": "2. Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}